<div class="row">
    <div class="col-xl-8 col-lg-12">
        <div class="card-body">
            <div class="chart-area">
                <canvas id="monthlyExpensesChart"
                        data-labels='@Html.Raw(ViewBag.MonthlyLabels)'
                        data-income-values='@Html.Raw(ViewBag.MonthlyIncomeValues)'
                        data-payment-values='@Html.Raw(ViewBag.MonthlyPaymentValues)'>
                </canvas>
            </div>
        </div>
    </div>
</div>
