@using Equilibrium.Web.Models.Commons
@using Equilibrium.Web.Models.Permission
@model IEnumerable<PermissionModel>

@{
    ViewData["Title"] = "Permissões";
}
<p>
    <a asp-action="Create" class="btn btn-primary">Nova Permissão</a>
</p>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover datatable">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Nome do Sistema</th>
                        <th>Descrição</th>
                        <th>Data de Criação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(e => e.SystemName))
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td><code>@item.SystemName</code></td>
                            <td>@(string.IsNullOrEmpty(item.Description) ? "-" : item.Description)</td>
                            <td>@item.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>
                                <partial name="_Partials/Commons/_ActionButtons" model='(
                                        Id: item.Id,
                                        CanView: true,
                                        CanEdit: true,
                                        CanDelete: true,
                                        ControllerName: "Permissions",
                                        DeleteConfig: new DeleteButtonModel(item.Id, "Permissions", "permissão", item.Name, true),
                                        ExtraButtons: "")' />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>