@using FinanceSystem.Web.Helpers
@using FinanceSystem.Web.Models.CreditCard
@using FinanceSystem.Web.Models.Income
@using FinanceSystem.Web.Models.Investment
@using FinanceSystem.Web.Models.Payment
@{
    ViewData["Title"] = "Dashboard";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/dashboard.css" asp-append-version="true">
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard Financeiro</h1>
        <a asp-controller="Reports" asp-action="Monthly" asp-route-month="@DateTime.Now.Month" asp-route-year="@DateTime.Now.Year" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Gerar Relatório
        </a>
    </div>

    <partial name="_Partials/_FinancialSummary" />
    <partial name="_Partials/_QuickActions" />
    <partial name="_Partials/_MonthlyComparison" />
    <partial name="_Partials/_Pendings" />
    <partial name="_Partials/_InvestmentSummary" />

</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/components/charts.js" asp-append-version="true"></script>
    <script src="~/js/pages/dashboard.js" asp-append-version="true"></script>
    <script src="~/js/utils/helpers.js" asp-append-version="true"></script>
}