<!-- src/FinanceSystem.Web/Views/Home/Privacy.cshtml -->
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Esta página de política de privacidade entrará em vigor em 12 de abril de 2025.</p>